<section class="bg-black relative h-screen font-gemunu text-black">
  <div class="container mx-auto p-4 md:p-8 lg:p-12 flex md:max-w-md lg:max-w-xl">
    <div class="max-w-md w-full mx-auto">
      <div class="text-center tracking-wider mb-5">
        <h2 class="text-cocktail_chronicles-grey md:text-2xl font-bold mb-3">Welcome Back!</h2>
        <p class="text-cocktail_chronicles-grey md:text-xl">It's great to have you here.</p>
      </div>

      <div class="bg-black rounded-lg overflow-hidden shadow-2xl ">
        <div class="p-8">
          <form method="POST" action="/auth/login">
            <div class="mb-5">
              <label for="email" class="block mb-2 text-sm font-medium text-gray-600">Email</label>
              <input type="text" name="email"
                class="block w-full p-3 rounded bg-gray-200 border border-transparent focus:outline-none">
            </div>
            <div class="mb-5">
              <label for="password" class="block mb-2 text-sm font-medium text-gray-600">Password</label>

              <input type="password" name="password"
                class="block w-full p-3 rounded bg-gray-200 border border-transparent focus:outline-none">
            </div>
            <div class="text-center">
              <button type="submit"
                class="w-full relative w-100% mx-auto inline-flex items-center justify-center p-0.5 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-green-400 to-blue-600 group-hover:from-green-400 group-hover:to-blue-600 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800">
                <span
                  class="relative  px-40 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                  SIGN IN
                </span>
              </button>
            </div>

            {{#if errorMessage}}
            <p class="error text-red-500">{{errorMessage}}</p>
            {{/if}}
          </form>
        </div>
      </div>
    </div>
  </div>
</section>