{{!-- <section class="relative h-screen flex items-center">
  <img src="/images/list.background.jpg" alt="Cocktail Background"
    class="absolute inset-0 w-full h-full object-cover z-0 opacity-95">
  <div class=" container mx-auto p-10 relative z-10 flex flex-col items-center">

    <div class=" p-6 flex flex-col items-center">
      <h2 class="text-white text-2xl mb-10">Log In</h2>
      <form action="/auth/login" method="POST" class="flex flex-col items-center">
        <label class="text-cocktail_chronicles-grey ">
          <input type="text" name="username" placeholder="Your username"
            class="bg-cocktail_chronicles-purple  w-full md:w-64 text-cocktail_chronicles-grey rounded-lg p-2 mb-10 focus:bg-cocktail_chronicles-purple hover:bg-cocktail_chronicles-green transition-colors duration-300 ease-in-out outline-none" />
        </label>

        <label class="text-cocktail_chronicles-grey">
          <input type="email" name="email" placeholder="Your email"
            class="bg-cocktail_chronicles-purple  w-full md:w-64 text-cocktail_chronicles-grey rounded-lg p-2 mb-10 focus:bg-cocktail_chronicles-purple hover:bg-cocktail_chronicles-green transition-colors duration-300 ease-in-out outline-none" />
        </label>

        <label class="text-cocktail_chronicles-grey">
          <input type="password" name="password" placeholder="Your password"
            class="bg-cocktail_chronicles-purple w-full md:w-64 text-cocktail_chronicles-grey rounded-lg p-2 mb-10 focus:bg-cocktail_chronicles-purple  hover:bg-cocktail_chronicles-green transition-colors duration-300 ease-in-out outline-none" />
        </label>

        <button type="submit"
          class="bg-cocktail_chronicles-purple text-cocktail_chronicles-grey px-4 py-2 rounded-md mt-4 focus:bg-cocktail_chronicles-purple ">Log
          In</button>

        {{#if errorMessage}}
        <p class="error text-grey">{{errorMessage}}</p>
        {{/if}}
      </form>
    </div>
  </div>
</section>


<style>
  /* For Chrome browser */
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #8149A6 inset !important;
    -webkit-text-fill-color: #DDDDDD !important;
    /* Text color */
    caret-color: #DDDDDD !important;

    border-radius: 0.5rem !important;
  }
</style> --}}


<section class="bg-black relative h-screen font-gemunu text-black">
  <div class="container mx-auto p-8 flex">
    <div class="max-w-md w-full mx-auto">
      <div class="text-center tracking-wider mb-5">
        <h2 class="text-cocktail_chronicles-grey text-2xl font-bold mb-3">Welcome Back!</h2>
        <p class="text-cocktail_chronicles-grey text-xl">It's great to have you here.</p>
      </div>

      <div class="bg-black rounded-lg overflow-hidden shadow-2xl">
        <div class="p-8">
          <form method="POST" action="/auth/login">


            <div class="mb-5">
              <label for="email" class="block mb-2 text-sm font-medium text-gray-600">Email</label>

              <input type="text" name="email"
                class="block w-full p-3 rounded bg-gray-200 border border-transparent focus:outline-none">
            </div>

            <div class="mb-5">
              <label for="password" class="block mb-2 text-sm font-medium text-gray-600">Password</label>

              <input type="password" name="password"
                class="block w-full p-3 rounded bg-gray-200 border border-transparent focus:outline-none">
            </div>

            <div class="text-center">
              <button type="submit"
                class="relative w-100% mx-auto inline-flex items-center justify-center p-0.5 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-green-400 to-blue-600 group-hover:from-green-400 group-hover:to-blue-600 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800">
                <span
                  class="relative  px-40 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                  SIGN IN
                </span>
              </button>
            </div>

            {{#if errorMessage}}
            <p class="error text-red-500">{{errorMessage}}</p>
            {{/if}}
          </form>
        </div>
      </div>
    </div>
  </div>
</section>