<section class="bg-black relative h-screen font-gemunu text-black">
  <h2 class="text-cocktail_chronicles-grey text-center md:text-xl tracking-wider">"Step into the world of mixology with
    open arms
    as we
    welcome you to the Cocktail Chronicles Club"</h2>
  <div class="container mx-auto p-8 flex">
    <div class="max-w-md w-full mx-auto">

      <div class="bg-black rounded-lg overflow-hidden shadow-2xl">
        <div class="p-8">
          <form method="POST" action="/auth/signup" enctype="multipart/form-data">
            <div class="mb-5">
              <label for="image" class="block mb-2 text-cocktail_chronicles-grey"></label>
              <input type="file" name="image" id="image" class="hidden" onchange="displayImage(this)">
              <label for="image"
                class="cursor-pointer block text-center border border-cocktail_chronicles-pink p-2 hover:underline text-cocktail_chronicles-sgreen ">
                Select Photo
              </label>
              <div id="image-preview" class="mt-2"></div>
            </div>

            <div class="mb-5">
              <label for="username" class="block mb-2 text-sm font-medium text-gray-600">Username</label>

              <input type="text" name="username"
                class="block w-full p-3 rounded bg-gray-200 border border-transparent focus:outline-none">
            </div>
            <div class="mb-5">
              <label for="email" class="block mb-2 text-sm font-medium text-gray-600">Email</label>

              <input type="text" name="email"
                class="block w-full p-3 rounded bg-gray-200 border border-transparent focus:outline-none">
            </div>

            <div class="mb-5">
              <label for="password" class="block mb-2 text-sm font-medium text-gray-600">Password</label>

              <input type="password" name="password"
                class="block w-full p-3 rounded bg-gray-200 border border-transparent focus:outline-none">
            </div>

            <button type="submit"
              class="w-full p-3 mt-4 bg-cocktail_chronicles-purple hover:bg-cocktail_chronicles-green text-white rounded shadow">SIGN
              UP</button>
            <a href="#" class="text-gray-600">Forgot password?</a>
            {{#if errorMessage}}
            <p class="error text-red-500">{{errorMessage}}</p>
            {{/if}}
          </form>
        </div>
      </div>
    </div>
  </div>
</section>