<h1>{{appTitle}} 🚀</h1>
<p>Welcome Ironhacker!</p>


<form action="/cocktail/addfavoriteby/15346" method="POST">
      
        <button type="submit" class="btn btn-primary">Add to my Favorites</button>
</form>