{{!-- main section --}}
<section class="h-96 lg:h-128 group relative">
        {{!-- main image content --}}
        <img src="images/cocktail.shaker.jpg" alt="main Image" class="h-full w-full object-cover">
        {{!-- cocktail shaker content --}}
        <div class="absolute bottom-0 w-full bg-gradient-to-b from transparent to-black">
                {{!-- cocktail shaker container --}}
                <div class="container pl-10 lg:pl-0">
                        <h3 class="text-cocktail_chronicles-sgreen tracking-wider group-hover:mb-2 duration-500">
                                Mixology,Libation,Beverage
                                <h1
                                        class="text-4x1 lg:text-6xl text-cocktail_chronicles-grey group-hover:mb-2 duration-500">
                                        "THE COCKTAIL CHRONICLES"</h1>
                                <p
                                        class="text-cocktail_chronicles-grey group-hover:mb-2 duration-500 w-2/3 lg:w-2/3 mb-3">
                                        Sipping a meticulously crafted cocktail, one indulges in
                                        a
                                        symphony of flavors, a dance of spirits that transcends
                                        ordinary libations.
                                </p>
                                <!--Detail Container action,taste,bartender-->
                                <div
                                        class="flex space-x-7 opacity-0 group-hover:opacity-100 group-hover:mb-10 lg:group-hover:mb-20 duration-1000">
                                </div>
                </div>
        </div>
</section>
{{!-- middle section --}}


<section class="py-24 bg-black">
        <div class="container grid lg:grid-cols-3 gap-8 ">
                <div class=" lg:col-span-2 bg-black mb-8 lg:mb-0 pl-10 lg:pl-0 pr-10 lg:pr-0">
                        <h2 class="text-cocktail_chronicles-grey mb-4 text-center tracking-wider">
                                COCKTAIL HISTORY
                        </h2>
                        <h1
                                class="text-cocktail_chronicles-grey tracking-wider mb-8 capitalize first-letter: font-gemunu text-ml text-justify">
                                Cocktails,
                                captivating blend of spirits and flavors, boast a captivating history that
                                spans centuries, evolving from
                                simple concoctions to the complex and diverse beverages enjoyed today. Originating in
                                the early 19th century, the term
                                "cocktail" found its way into print in 1806, describing a mix of spirits, sugar, water,
                                and bitters. This humble
                                beginning laid the foundation for an art form that would captivate the taste buds of
                                generations to come.

                                The Prohibition era in the 1920s marked a turning point in cocktail history. With the
                                ban on legal alcohol, creative
                                mixologists emerged, devising innovative drinks to mask the often harsh taste of
                                bootlegged spirits. Iconic cocktails
                                such as the Martini, Old Fashioned, and Negroni emerged during this clandestine period,
                                enduring as timeless classics.

                                The mid-20th century witnessed the rise of tiki culture, introducing exotic and
                                flamboyant cocktails like the Mai Tai
                                and Zombie. These tropical concoctions, often adorned with colorful garnishes, offered a
                                playful escape from the
                                realities of the time. Meanwhile, the 1980s and 1990s saw a resurgence of interest in
                                classic cocktails, with bartenders
                                rediscovering forgotten recipes and refining traditional techniques.

                                In the 21st century, the craft cocktail movement took center stage, emphasizing fresh,
                                high-quality ingredients and
                                artisanal spirits. Modern mixologists, armed with a deep understanding of flavor
                                profiles and a penchant for innovation,
                                experiment with unique infusions, house-made syrups, and imaginative garnishes. This era
                                celebrates both the art and
                                science of mixology, pushing the boundaries of creativity and elevating the cocktail to
                                an unparalleled level of
                                sophistication.

                                Today, cocktail history is a dynamic tapestry, weaving together the narratives of
                                countless bartenders, trends, and
                                cultural shifts. From the clandestine speakeasies of the Jazz Age to the bustling craft
                                cocktail bars of the present,
                                each sip invites us to partake in a rich legacy that reflects the artistry, culture, and
                                conviviality of the
                                ever-evolving world of spirits and libations.
                        </h1>
                </div>
                <!-- right content -->

                <blockquote
                        class="lg:col-span-1 text-cocktail_chronicles-grey capitalize first-letter: tracking-wider ps-8 sm:ps-8 mb-12 mt-12">
                        <svg class="w-10 h-10 text-cocktail_chronicles-grey dark:text-cocktail_chronicles-purple mb-4"
                                aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                viewBox="0 0 18 14">
                                <path
                                        d="M6 0H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3H2a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Zm10 0h-4a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3h-1a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Z" />
                        </svg>
                        <p><em>`Cocktails are crafted symphonies of spirits and flavors, a liquid poetry
                                        that
                                        transcends time and borders. In each shaken or stirred creation,
                                        there
                                        lies a story, a celebration, and the artistry of the spirited
                                        soul.
                                        Cheers to the libations that turn moments into memories.`
                                </em></p>
                        <br>
                        <p><em>`Mixology
                                        Maestro`</em></p>

                </blockquote>
        </div>
</section>