<h1>THE COCKTAIL CHRONICLES 🍸</h1>
<nav>
    <ul>
        <li><a href="/favorite/myfavorites">My Favorites</a></li>
        <li><a href="/cocktail/list">Cocktail List</a></li>
        <li><a href="/cocktail/random ">Random Cocktail</a></li>
    </ul>
</nav>


<div>
  {{#each cocktails}}
  <h1>{{name}}</h1>
  
  <img src="{{image}}" alt="{{name}}" />
  <br>
  <br>
  <a href="/cocktail/{{id}}">See details</a>
  {{/each}}

</div>